@model Oblig1Vy.Model.ViewModels.StationVm

@{
    ViewBag.Title = "DeleteStation";
}

<h2>Slett stasjon</h2>

<h3>Er du sikker på du vil slette stasjonen?</h3>
<div>
 
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StationName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StationName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Tilbake", "Index")
        </div>
    }
</div>
