@model Oblig1Vy.Model.ViewModels.TicketVm

@{
    ViewBag.Title = "TicketOrder";
}

<h2>Vennligst fyll inn e-mail og kortnummer</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        
        <hr />


        <div class="form-group">
           
            <div class="col-md-10">
                <label for="email">Email</label><br />
                <input type="email" name="email" id="email" required />
            </div>
        </div>

        <div class="form-group">
            
            <div class="col-md-10">
                <label for="cardNumber">Kortnummer</label><br />
                <input type="text" name="cardNumber" id="cardNumber" required />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="hidden" name="ticketId" value="@Model.Id" />
                <input type="submit" value="Betal" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Tilbake", "Index")
</div>
